fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
openai
python-dotenv
langchain
faiss-cpu
sentence-transformers
gunicorn
torch --index-url https://download.pytorch.org/whl/cpu
python-jose[cryptography]
passlib[bcrypt]
python-multipart